body {
    background-color: darkred;
    display: flex;
    align-items: center;
    justify-content: center;
}

body.connected {
    background-color: darkgreen;
}

body div {
    background-color: pink;
    border-color: red;
    border-style: outset;
    border-width: 5px;
    padding: 2em;
    text-align: center;
}

body.connected div {
    background-color: lightgreen;
    border-color: green;
}
